@value makerGray from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';
@value makerRed from '../../common/colors.css';

.container {
  position: relative;
  border: 1px solid makerGray;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  background-color: makerWhite;
  display: flex;
  align-items: center;
}

.btn {
  position: absolute;
  top: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: makerWhite;
  box-shadow: 0px 0px 3px 0px makerBlack;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

.stories {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.stories li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.profileImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid makerRed;
  margin-bottom: 3px;
}

.username {
  font-size: 13px;
}
