@value makerGray from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value headerHeight from '../../common/sizes.css';
@value appContentWidth from '../../common/sizes.css';

.container {
  width: 100%;
  height: headerHeight;
  display: flex;
  justify-content: center;
  background-color: makerWhite;
  border-bottom: 1px solid makerGray;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: appContentWidth;
  height: 100%;
}

.logoWrapper,
.searchBarWrapper,
.menuWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
}

.logoWrapper a {
  position: absolute;
  left: 0px;
  width: 110px;
  height: 45px;
}

.logo {
  width: 100%;
  height: 100%;
}

.searchBarWrapper {
  justify-content: center;
}

.menuWrapper {
  justify-content: flex-end;
}
